$dfs: 16px;

$pc: #003389;
$pch: #0280b3;

$fntl: #fff;
$fntgl: #e8e8e8;
$fntg: #808080;
$fntd: #000;
$fntdl: #252527;

$borl: #fff;
$borgl: #e8e8e8;
$borg: #808080;
$borgd: #595959;
$bordl: #252527;
$bord: #000;

$bgl: #fff;
$bggl: #e8e8e8;
$bgg: #808080;
$bggd: #595959;
$bgdl: #252527;
$bgd: #000;
$bge: #ff001e93;
$bgs: #84b84c1f;

$success: #84b84c;
$error: rgba(236, 9, 9, 0.753);

//Responsive down size
$xs-413: 413.98px;
$sm-573: 573.98px;
$md-767: 767.98px;
$lg-991: 991.98px;
$xl-1199: 1199.98px;

//Responsive up size
$xs-320: 320px;
$sm-576: 576px;
$md-768: 768px;
$lg-992: 992px;
$xl-1200: 1200px;
